* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.SelectionPage {
  z-index: -1;
  position: fixed; /* Position the component relative to the viewport */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  background-color: hwb(
    248 2% 72% / 0.998
  ); /* Background color for the entire viewport */
  display: flex; /* Ensure the content inside is flexed */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.Cards {
  background-color: hwb(248 2% 72% / 0.998);
}

#btn {
  margin-left: 2rem;
  width: auto;
  height: 2rem;
  display: center;
}
