
.Loading{
  background-color: #081118;
  margin: 0 auto;
  
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#rasengan {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%; /* Adjust as needed */
  max-height: 90%; /* Adjust as needed */
  width: 300px; /* Allow the width to adjust flexibly */
  height: 300px; /* Allow the height to adjust flexibly */
  background:  url("../../../public/Images/rasengan-removebg-preview.png") center center no-repeat;
  background-size: contain;
  animation: pulse 2.5s infinite;

 
}
